/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html,
body {
  display: flex;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all 0.25s;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}
