.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  app-youtube-player {
    margin-bottom: 30px;
  }
}

.not-found-id {
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
}
